html{
    scroll-behavior: smooth;
}
header{
    margin-top: 50px;
    margin-bottom: 50px;
}
body{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;

}

nav{
    border-top: 10px;
    border-bottom: 10px;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

div{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    
    line-height: 25px;

}
nav{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 25px;
}

img {
    max-width: 100%;
    height: auto;
  }
img:hover{
    transform: scale(1.2);
}

span{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-weight:300;

}

/*320px — 480px: Mobile devices*/
@media (min-width:320px)  {
    body{
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    
    }
}

/*481px — 768px: iPads, Tablets.*/

@media (min-width:481px)  {
    body{
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 80px;
        padding-right: 80px;
    
    }
    
 }

 /*769px — 1024px: Small screens, laptops.*/
 @media (min-width:769px) { 
    body{
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 120px;
        padding-right: 120px;
    
    }
 }

/*1025px — 1200px: Desktops, large screens.*/
@media (min-width:1025px) { 
    body{
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 160px;
        padding-right: 160px;
    
    }
 }