html{
    scroll-behavior: smooth;
}
header{
    margin-top: 50px;
    margin-bottom: 50px;
}
body{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 200px;
    padding-right: 200px;

}

nav{
    border-top: 10px;
    border-bottom: 10px;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

div{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    
    line-height: 25px;

}
nav{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 25px;
}

img {
    max-width: 100%;
    height: auto;
  }

span{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-weight:300;

}

  
@media only screen and (max-width: 600px) {
    header{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    body{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    
    }
  }

  @media only screen and (max-width: 960px) {
    header{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    body{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 80px;
        padding-right: 80px;
    
    }
  }
  
